<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join the Club</title>
</head>
<body>
    <h1>Join the Club</h1>
    <p>Become a member of our exclusive community!</p>
    <form action="/user/join" method="POST">
        <input type="text" name="passcode" placehholder=" Enter secret passcode">
        <button type="submit">Join Now</button>
    </form>
</body>
</html>