<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>
</head>
<body>
  <h1>Sign Up</h1>
  <form action="signup" method="POST">
    <div>
        <label for="username">Username</label>
        <input id="username" name="username" placeholder="username" type="text" />
    </div>
    <div>
        <label for="first-name">first name</label>
        <input id="first-name" name="first-name" placeholder="first name" type="text" />
    </div>
    <div>
        <label for="last-name">last name</label>
        <input id="last-name" name="last-name" placeholder="last name" type="text" />
    </div>
    <div>
        <label for="email">email</label>
        <input id="email" name="email" placeholder="user@example.com" type="email" />
    </div>
    <div>
        <label for="password">Password</label>
        <input id="password" name="password" type="password" />
    </div>
    <button type="submit">Sign Up</button>
  </form>
</body>
</html>
